name: Build CI Pipeline
on:
  workflow_call:
    inputs:
      app_name:
        description: 'Name of the application'
        required: true
        type: string
    
jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Build the application
        run: npm run build

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
                  docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ inputs.app_name }}:latest .

          
      - name: Push Docker image
        run: |
                  docker push ${{ secrets.DOCKER_USERNAME }}/${{ inputs.app_name }}:latest

      

