name: Build CI Pipeline
on:
  workflow_call:
    inputs:
      app_name:
        description: 'Name of the application'
        required: true
        type: string

jobs:
  build: 
    runs-on: ubuntu-latest
    # هنا بنقول للجوكر إن كل الأوامر اللي جاية هتتنفذ جوه فولدر الـ backend
    defaults:
      run:
        working-directory: ./backend 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3 # يفضل تستخدم v3 أو v4
        with:
          node-version: '20' # غيرتها لـ 20 عشان تمشي مع الـ Dockerfile بتاعك

      - name: Install dependencies
        run: npm install

      - name: Build the application
        run: npm run build

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        # لاحظ هنا إننا بنبني الـ Docker من الفولدر الحالي اللي هو backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ inputs.app_name }}:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ inputs.app_name }}:latest